<h1>GeoSpacial Data Demo</h1>

<div id="mapdiv"></div>

<script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    epsg4326 = new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
    projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)

    var lonLat = new OpenLayers.LonLat(-73.935242, 40.730610).transform(epsg4326, projectTo);


    var zoom = 14;
    map.setCenter(lonLat, zoom);

    var vectorLayer = new OpenLayers.Layer.Vector("Overlay");

    // Define markers as "features" of the vector layer:
    <% @secondary_schools.each do |secondary_school| %>
    var feature = new OpenLayers.Feature.Vector(
        new OpenLayers.Geometry.Point(<%= secondary_school.lonlat.lon %>, <%= secondary_school.lonlat.lat %>).transform(epsg4326, projectTo),
        {
            description: "<b><%= secondary_school.name.html_safe %></b> <br> <%= secondary_school.address.html_safe %>",
        },
    );
    vectorLayer.addFeatures(feature);
    <% end %>


    map.addLayer(vectorLayer);


    //Add a selector control to the vectorLayer with popup functions
    var controls = {
        selector: new OpenLayers.Control.SelectFeature(vectorLayer, {onSelect: createPopup, onUnselect: destroyPopup})
    };

    function createPopup(feature) {
        feature.popup = new OpenLayers.Popup.FramedCloud("pop",
            feature.geometry.getBounds().getCenterLonLat(),
            null,
            '<div class="markerContent">' + feature.attributes.description + '</div>',
            null,
            true,
            function () {
                controls['selector'].unselectAll();
            }
        );
        //feature.popup.closeOnMove = true;
        map.addPopup(feature.popup);
    }

    function destroyPopup(feature) {
        feature.popup.destroy();
        feature.popup = null;
    }

    map.addControl(controls['selector']);
    controls['selector'].activate();

</script>

<style>
    /* Set the size of the div element that contains the map */
    #mapdiv {
        height: 800px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }
</style>